body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-nav {
  height: 60px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.app-body {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar p {
  cursor: pointer;
  margin-bottom: 15px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
